.container {
  margin: auto;
  overflow: hidden; }

.btn-main, .btn-light, .btn-dark {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer; }

.btn-main {
  color: #333;
  background-color: #C2BFC7; }

.btn-light {
  color: #333;
  background-color: #f4f4f4; }


button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
  background-color: #C2BFC7;
  color: white; }

.bg-main {
  background: #C2BFC7;
  color: #fff; }

.bg-dark {
  background: #333;
  color: #fff; }

.bg-light {
  background: #f4f4f4;
  color: #000; }

.bg-medium {
  background: #ccc;
  color: #000; }

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem; }

.text-center {
  text-align: center; }

.py-1 {
  padding: 1rem 0; }

.py-2 {
  padding: 2rem 0; }

.py-3 {
  padding: 3rem 0; }

.py-4 {
  padding: 4rem 0; }

.my-1 {
  margin: 1rem 0; }

.my-2 {
  margin: 2rem 0; }

.my-3 {
  margin: 3rem 0; }

.my-4 {
  margin: 4rem 0; }

.section-title {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase; }

.bottom-line {
  height: 2px;
  width: 3rem;
  background: #C2BFC7;
  display: block;
  margin: 0 auto 1rem auto; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  background: #fff; }

a {
  text-decoration: none;
  color: #333; }

ul {
  list-style: none; }

h2,
h3,
h4 {
  text-transform: uppercase; }

img {
  width: 100%; }

#logo {
  width: 190px;
  height: 60px;
}

#main-nav {
  display: flex;
  justify-content: space-around;
  min-height: 200px;
  height: auto;
  padding-top: 3rem;
  width: 100%;
  background: url("../img/Paper_torn1_red.png");
  background-size: cover;
  background-repeat: no-repeat;
  }
  #main-nav ul {
    display: flex; }
  #main-nav li {
    padding: 1rem 1.5rem; }
  #main-nav a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;
    font-size: 1.3rem; }
    #main-nav a:hover {
      text-decoration: none;
      color: #77767A;
      text-transform: uppercase;
      border-bottom: 3px transparent solid;
      padding-bottom: 0.5rem;
      transition: border-color 0.5s; }
  
    #main-nav a.current {
      border-color: #97ADAA; }

#header-home {
  background: url("../img/Background_paper_HAMERS.png") no-repeat center right/cover;
  height: 150vh;;
  color: #fff;
}
  
  #header-home .header-content {
    text-align: center;
    padding-top: 20%; }
    #header-home .header-content h1 {
      font-size: 4rem;
      line-height: 1.2; }

#header-inner {
  background: url("../img/Background_paper_HAMERS.png") no-repeat 20% 30%/cover;
  height: 6.5rem;
  border-bottom: 3px solid #C2BFC7; }



#main-footer {
  background: url("../img/farrmLandingOnderkantRood.png") no-repeat;
  color: #fff;
  height: auto;
  width: 100%;
  margin-top: -6rem;
  background-size: cover;}
  #main-footer .footer-content {
    display: flex;
    justify-content: space-around;
    height: auto;
    align-items: center; 
    padding-top: 9rem;
    padding-bottom: 3.5rem;}
   
    #main-footer .footer-content .social .fab {
      border: 2px #fff solid;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      line-height: 20px;
      text-align: center;
      padding: 1rem;
      align-items: center;
      justify-content: space-evenly;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      }
        #main-footer .footer-logo {
          width: 6rem;
          object-fit: contain;
          margin-left: 0.5rem;
          margin-right: 0.5rem;}
          #main-footer a:visited {
            color: #fff;
          }



@media (max-width: 700px) {
  #header-home {
    height: 100vh; }
    #header-home .header-content {
      padding-top: 5rem; }
  #main-nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0em;
   }
    #main-nav li {
      padding: 0rem 1rem;
      padding-bottom: 3.5rem; }
    #main-nav a {
    font-size: 0.8rem; }
   #logo {
      width: 100px;
      height: 35px;
    }
  #header-home {
    height: 100vh;
    border-bottom: 3px solid #77767A;
    background-position: 20% 30%; }
    #header-home .header-content {
      display: flex; 
      flex-direction: column;
      }
  #header-inner {
    height: 10rem; }

  #main-footer {
    height: auto;}
    #main-footer .footer-content {
      flex-direction: column;
      padding-top: 3.5rem;}
      #main-footer .social{
        padding-top: 2rem;
      }
      #main-footer .footer-logo {
        width: 5.5rem;
      }
      #main-footer a:visited {
        color: #fff;
      }



@media (max-height: 580px) {
  #header-home .header-content {
    padding-top: 3rem;
    justify-content: center;  
  } }

@media (max-height: 330px) {
  #header-home .header-content h1 {
    font-size: 1rem; } }
  }