@font-face {
  font-family: din;
  src: url("../fonts/DIN.ttf") format("opentype");
}


.container {
  margin: auto;
  overflow: hidden; }
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  background: url("../img/Background_paper_HAMERS.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
   }


a {
  text-decoration: none;
  color: #fff; }

ul {
  list-style: none; }
h1,
h2,
h3,
h4,
h5,
li{ 
  font-family: DIN;
}

img {
  width: 100%; }

#logo {
  width: 170px;
  height: 55px;
  padding-top: 1.2rem;
}

#main-nav {
  display: flex;
  justify-content: space-around;
  min-height: 16vh;
  height: auto;
  padding-top: 0.5rem;
  width: 100%;
  background: url("../img/Paper_torn1_red.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  }
  #main-nav ul {
    display: flex; }
  #main-nav li {
    padding: 1.5rem 1.5rem; }
  #main-nav a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.3rem; }
    #main-nav a:hover {
      text-decoration: none;
      color: #77767A;
      text-transform: uppercase;
      padding-bottom: 0.5rem;}
  
    #main-nav a.current {
      border-color: #97ADAA; }

#header-home {
  height: auto;
  color: #fff;
  padding-bottom: 10%;
}

  
  #header-home .header-content {
    text-align: left;
    padding-top: 5%; }
    #header-home .header-content .container-content {
      padding-left: 10%;
      width: 80%;
      height: auto;
      padding-bottom: 5rem;
    }
    #header-home .header-content .container-content1 {
      padding-left: 10%;
      width: 80%;
      height: auto;
    }
    #header-home .header-content .container-content-form form {
      padding-top: -3rem;
      padding-left: 10%;
      width: 80%;
      display: flex;
      flex-direction: column;
    }
    #header-home .header-content .container-content .video{
      padding-left: 5%;
      width: 90%;
      height: 600px;
    }
    #header-home .header-content h1 {
      font-size: 4rem; }
      #header-home .header-content .container-content .team-content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      #header-home .header-content .container-content .team {
        width: 100%;
        padding-left: 1rem;
      }
      #header-home .header-content .container-content .team iframe{
        width: 100%;
        height: 21rem;
      }
      #header-home .header-content .container-content .tekst-team {
        width: 100%;
        flex-direction: column;
        padding-left: 2rem;
      }
      #header-home .header-content .container-content .tekst-team h1{
        font-size: 2.5rem;
      }

#header-inner {
  background: url("../img/Background_paper_HAMERS.png") no-repeat 20% 30%/cover;
  height: 6.5rem;
  border-bottom: 3px solid #C2BFC7; }



#main-footer {
  background: url("../img/farrmLandingOnderkantRood.png") no-repeat;
  color: #fff;
  height: auto;
  width: 100%;
  margin-top: -6rem;
  background-size: 100% 100%;}
  #main-footer .footer-content1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: auto;
    align-items: center;
    width: auto;
    padding-top: 4rem;
    padding-bottom: 3.5rem;
    flex-wrap: wrap;
  }
  #main-footer .footer-content2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    align-items: center; 
    padding-bottom: 3.5rem;
    flex-wrap: wrap;
  }
  #main-footer .footer-content1 .social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
    width:16rem;
    align-items: center; 
    flex-wrap: wrap;
  }
  #main-footer .footer-content2 .social-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
    width:auto;
    align-items: center; 
    flex-wrap: wrap;
  }
   
    #main-footer .footer-content1 .social .fab {
      border: 2px #fff solid;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      line-height: 20px;
      text-align: center;
      padding: 1rem;
      align-items: center;
      justify-content: space-evenly;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      }
        #main-footer .footer-info{
          height: auto;
          width: auto;
          line-height: 20px;
          text-align: left;
          align-items: center;
          justify-content: space-evenly;
        }
          #main-footer .footer-info h2{
            padding-bottom: 0.5rem;
          }
          #main-footer .footer-info h4{
            padding-bottom: 0.5rem;
          }
        #main-footer .footer-logo-farrm {
          width: 8rem;
          object-fit: contain;
          padding-left: 1rem;
          padding-right: 1rem;
          padding-bottom: 1rem;}
          #main-footer .footer-logo-mkd {
            width: 8rem;
            object-fit: contain;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-bottom: 1.5rem;}
          #main-footer .footer-logo-werf {
            width: 5.5rem;
            object-fit: contain;
            margin-left: 1rem;
            margin-right: 1rem;}
            #main-footer a {
              color: #fff;
            }
          #main-footer a:visited {
            color: #fff;
          }



@media (max-width: 700px) {
  #header-home {
    height: auto; }
    #header-home .header-content {
      padding-top: 2rem; }
      
  #main-nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
    #main-nav li {
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 0rem;
      padding-bottom: 4.3rem;}
    #main-nav a {
    font-size: 0.8rem; 
    }
   #logo {
      width: 110px;
      height: 33px;
      padding-top: 0rem;
    }
  #header-home {
    height: auto;
    border-bottom: 3px solid #77767A;
    background-position: 20% 30%;
    padding-bottom: 35%; }
    #header-home .header-content {
      display: flex; 
      flex-direction: column;
      }
      #header-home .header-content .container-content {
        padding-left: 5%;
        width: 90%;
      }
      #header-home .header-content .container-content1 {
        padding-left: 5%;
        width: 90%;
      }
      #header-home .header-content .container-content .video{
        width: 90%;
        height: 13rem;
      }
      
      #header-home .header-content h1{
        font-size: 1.8rem;
      }
      #header-home .header-content h2{
        font-size: 1rem;
      }
      #header-home .header-content .container-content .team-content {
        flex-direction: column;
        width: 90%;
      }
      #header-home .header-content .container-content .team iframe{
        height: 10rem;
      }
      #header-home .header-content .container-content .team-content .tekst-team{
        font-size: 1.3rem;
        padding-left: 1rem;
        padding-bottom: 1rem;
      }
      #header-home .header-content .container-content .team-content .tekst-team h1{
        font-size: 1.3rem;
      }
      #header-home .header-content .container-content .team-content .tekst-team h4{
        font-size:0.8rem;
      }
      #header-home .header-content .container-content-form form h3 {
        font-size: 0.8rem;
      }

      
  #header-inner {
    height: 10rem; }
    

  #main-footer {
    height: auto;}
    #main-footer .footer-content1 {
      flex-direction: column;
      padding-top: 4.5rem;}
      #main-footer .footer-content2 {
        flex-direction: column;}
      #main-footer .footer-info {
        padding-bottom: 2rem;
      }
      #main-footer .footer-logo-werf {
        width: 3.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1rem;
      }
      #main-footer .footer-logo-farrm {
        padding-bottom: 0rem;
        padding-left: 1rem;
        padding-right: 1rem;
        width: 4.5rem;
      }
      #main-footer .footer-logo-mkd {
        width: 4.5rem;
        padding-bottom: 1.5rem;
        padding-top: 1.5em;
        padding-left: 1rem;
        padding-right: 1rem;
      }
      #main-footer .social a:visited {
        color: #fff;
      }
      #main-footer .footer-info{
        padding-top: 1.5rem;
        text-align: center;
      }



@media (max-height: 580px) {
  #header-home .header-content {
    padding-top: 3rem;
    justify-content: center;  
  } }

@media (max-height: 330px) {
  #header-home .header-content h1 {
    font-size: 1rem; } }
  }